#file gede2
.csv
**/.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/venv
week2/dtc-de-347809-50afb00d4637.json
auth/
auth/dtc-de-347809-50afb00d4637.json
auth/dtc-de-347815-f2a749cd2413.json
**/rootkey.csv
auth/rootkey.csv

#csv
data_pgadmin
**/data_pgadmin
ny_taxi_postgres_data/
**/ny_taxi_postgres_data/
**/output.csv
week1/output.csv
week1/taxi+_zone_lookup.csv
week1/yellow_tripdata_2021-01.csv
